.article-wraper-inner {
   @extend .shadow;
   border: none;
}

.article-info {
   margin: 0 0 5px;
}

.item-page .article-info {
   margin: 0 0 20px;
}

.article-post-type {
   margin: 0 0 2px;
}

.article-icon {
   position: relative;
	margin-bottom: 0;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	top: 0px;
	margin-top: -40px;
   margin-left: auto;
   right: 0;
   font-size: 20px;
   &[class*="article-icon-"] {
      color: #fff;
      background-color: $primary;
   }
   &:before,
   &:after {
      display: none;
   }
}

.article-badge {
   right: 0;
	left: auto;
	line-height: normal;
	height: auto;
	padding: 5px 10px;
   border-radius: 4px 0 0 4px;
   font-weight: 500;
   &:before,
   &:after {
      display: none;
   }
   &[class*="article-badge-"] {
      color: #fff;
      background-color: $primary;
   }
}

.readmore-btn {
   @extend .btn-link;
   padding: 0;
}

.review-head {
	@extend .border;
}

.review-good-bad {
   background-color: rgba($primary, .15);
}

.article-wraper .card-body:not(.has-image) {
   padding-top: 50px;
}

.carousel-caption a {
    color: white;
}

.carousel-copyright {
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(to right, rgba(0,0,0,0.0), rgba(0, 0, 0, 0.5));
    color: lightgrey;
    padding: 0px 1.0em;
    font-size: smaller;
    line-height: 1.5em;
    width: 66%;
    text-align: right;
}
