.astroid-sidebar-header {
   .astroid-social-icons {
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 20px;
   }
}

.megamenu-container, .megamenu-container .nav-submenu .nav-submenu {
	border-top: 4px solid rgba($primary, .4);
}