#astroid-backtotop{
   right: 20px;
   bottom: 20px;
   padding: 10px;
   display: none;
   z-index: 9999;
   line-height: 0;
   position: fixed;
   &.circle{
      border-radius: 100%;
   }
   &.rounded{
      border-radius: 4px;
   }
   &.square{
      border-radius: 0;
   }
}

@media (max-width: 980px){
   #astroid-backtotop.hide-sm{
      display: none !important;
   }
}