.astroid-banner-inner {
   background-color: #f9f9f9;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   padding: 80px 0;
   .astroid-banner-title {
      color: #fff;
   }
   .astroid-banner-subtitle {
      color: #fff;
   }
}