blockquote {
   background: $gray-100;
   border: $border-width solid $border-color ;
   border-radius: $border-radius;
   padding: $spacer;
   margin-top: $paragraph-margin-bottom;
   margin-bottom: $paragraph-margin-bottom;
}