.btn-group.radio{
   @extend .d-block;
}
.chzn-container{
   @extend .w-100;
   .chzn-choices{
      @extend .form-control;
      @extend .p-1;
   }
   .chzn-single{
      @extend .form-control;
      @extend .p-1;
      @extend .h-100;
   }
}

#sbox-window{
   box-sizing: content-box;
}

.btn-modal{
   @extend .position-relative;
}

.edit.item-page{
   .btn-toolbar{
      .btn-group{
         @extend .px-2;
         .btn{
            @extend .btn-dark;
         }
         &:first-child{
            @extend .pl-0;
         }
      }
   }
}

.custom-file-label-media{
   &:after{
      content: '' !important;
      display: none;
   }
}

.com-media{
   &.view-imagesList{
      &.layout-default{
         .thumbnails{
            .thumbnail{
               a{
                  .height-50{
                     @extend .h-75;
                     @extend .d-flex;
                     @extend .align-items-center;
                     @extend .justify-content-center;
                     .icon-folder-2{
                        @extend .fa;
                        @extend .fa-folder;
                        font-size: 32px;
                        font-family: "Font Awesome 5 Free";
                     }
                  }
               }
            }
         }
      }
   }
}

.alert-message{
   @extend .alert-success;
}
.alert-error{
   @extend .alert-danger;
}

.btn.jmodedit{
   @extend .btn-dark;
   .icon-edit{
      @extend .fa;
      @extend .fa-edit;
      font-family: "Font Awesome 5 Free";
   }
}