.hideonxs {
	@include media-breakpoint-only(xs) {
		display: none !important;
	}
}

.hideonsm {
	@include media-breakpoint-only(sm) {
		display: none !important;
	}
}

.hideonmd {
	@include media-breakpoint-only(md) {
		display: none !important;
	}
}

.hideonlg {
	@include media-breakpoint-only(lg) {
		display: none !important;
	}
}

.hideonxl {
	@include media-breakpoint-only(xl) {
		display: none !important;
	}
}