/***
Spectrum Colorpicker v1.8.0 Chrome Theme
https://github.com/bgrins/spectrum
Author: Hitesh Aggarwal
License: MIT
***/

$preview-width: 40px;
$preview-width-lg: 40px;

.sp-container {
   position: absolute;
   top: 0;
   left: 0;
   display: inline-block;
   *display: inline;
   *zoom: 1;
   z-index: 9999994;
   overflow: hidden;
   &.sp-flat {
      position: relative;
   }
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
   * {
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
   }
}

.sp-top {
   position: relative;
   width: 100%;
   display: inline-block;
}

.sp-top-inner {
   height: 125px;
}
.sp-bottom-inner{
   display: block;
   position: relative;
   .sp-bottom-inner-left{
      display: inline-block;
      width: 85px;
   }
   .sp-bottom-inner-right{
      display: inline-block;
      width: 150px;
      padding-top: 15px;
      padding-right: 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
   }
}

.sp-color {
   height:125px;
}

.sp-hue {
   height: 12px;
   width: 100%;
   position: relative;
   margin-bottom: 8px;
   border-radius: 2px;
}

.sp-fill {

}

.sp-sat, .sp-val {
   height:125px;
}

.sp-alpha-enabled {
   .sp-top {

   }
   .sp-alpha {
      display: block;
   }
}

.sp-alpha-handle {
   position: absolute;
   top: -1px;
   bottom: -1px;
   width: 12px;
   cursor: pointer;
   border: 1px solid white;
   background: #f8f8f8;
   opacity: 1;
   height: 12px;
   box-shadow: 0px 0px 4px #000;
   border-radius: 12px;
}

.sp-alpha {
   display: none;
   height: 12px;
   border-radius: 2px;
}

.sp-alpha-inner {

}

.sp-clear {
   display: none;
   &.sp-clear-display {
      background-position: center;
   }
}

.sp-clear-enabled .sp-clear {
   display: block;
   height: 35px;
   width: 35px;
   border-radius: 35px;
   float: right;
   margin-right: 25px;
}

/* Don't allow text selection */

.sp-container, .sp-replacer, .sp-preview, .sp-dragger, .sp-slider, .sp-alpha, .sp-clear, .sp-alpha-handle {
   -webkit-user-select: none;
   -moz-user-select: -moz-none;
   -o-user-select: none;
   user-select: none;
}

.sp-container {
   &.sp-dragging .sp-input, button {
      -webkit-user-select: none;
      -moz-user-select: -moz-none;
      -o-user-select: none;
      user-select: none;
   }
   &.sp-input-disabled .sp-input-container, &.sp-buttons-disabled .sp-button-container, &.sp-palette-buttons-disabled .sp-palette-button-container {
      display: none;
   }
}

.sp-palette-only .sp-picker-container, .sp-palette-disabled .sp-palette-container, .sp-initial-disabled .sp-initial {
   display: none;
}

/* Gradients for hue, saturation and value instead of images.  Not pretty... but it works */

.sp-sat {
   background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#FFF), to(rgba(204, 154, 129, 0)));
   background-image: -webkit-linear-gradient(left, #FFF, rgba(204, 154, 129, 0));
   background-image: -moz-linear-gradient(left, #fff, rgba(204, 154, 129, 0));
   background-image: -o-linear-gradient(left, #fff, rgba(204, 154, 129, 0));
   background-image: -ms-linear-gradient(left, #fff, rgba(204, 154, 129, 0));
   background-image: linear-gradient(to right, #fff, rgba(204, 154, 129, 0));
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr=#FFFFFFFF, endColorstr=#00CC9A81)";
   filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr='#FFFFFFFF', endColorstr='#00CC9A81');
}

.sp-val {
   background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#000000), to(rgba(204, 154, 129, 0)));
   background-image: -webkit-linear-gradient(bottom, #000000, rgba(204, 154, 129, 0));
   background-image: -moz-linear-gradient(bottom, #000, rgba(204, 154, 129, 0));
   background-image: -o-linear-gradient(bottom, #000, rgba(204, 154, 129, 0));
   background-image: -ms-linear-gradient(bottom, #000, rgba(204, 154, 129, 0));
   background-image: linear-gradient(to top, #000, rgba(204, 154, 129, 0));
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00CC9A81, endColorstr=#FF000000)";
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00CC9A81', endColorstr='#FF000000');
}

.sp-hue {
   background: -moz-linear-gradient(left, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
   background: -ms-linear-gradient(left, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
   background: -o-linear-gradient(left, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
   background: -webkit-gradient(linear, left top, right top, from(#ff0000), color-stop(0.17, #ffff00), color-stop(0.33, #00ff00), color-stop(0.5, #00ffff), color-stop(0.67, #0000ff), color-stop(0.83, #ff00ff), to(#ff0000));
   background: -webkit-linear-gradient(left, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
   background: linear-gradient(to right, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
}

/* IE filters do not support multiple color stops.
   Generate 6 divs, line them up, and do two color gradients for each.
   Yes, really.
*/

.sp-1 {
   height: 17%;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#ffff00');
}

.sp-2 {
   height: 16%;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff00', endColorstr='#00ff00');
}

.sp-3 {
   height: 17%;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ff00', endColorstr='#00ffff');
}

.sp-4 {
   height: 17%;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffff', endColorstr='#0000ff');
}

.sp-5 {
   height: 16%;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000ff', endColorstr='#ff00ff');
}

.sp-6 {
   height: 17%;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00ff', endColorstr='#ff0000');
}

.sp-hidden {
   display: none !important;
}

/* Clearfix hack */

.sp-cf {
   &:before {
      content: "";
      display: table;
   }
   &:after {
      content: "";
      display: table;
      clear: both;
   }
   *zoom: 1;
}

/* Mobile devices, make hue slider bigger so it is easier to slide */
.sp-dragger {
   border-radius: 10px;
   height: 10px;
   width: 10px;
   border: 1px solid #fff;
   cursor: pointer;
   position: absolute;
   top: 0;
   left: 0;
}

.sp-slider {
   position: absolute;
   left: 0;
   cursor: pointer;
   height: 12px;
   width: 12px;
   top: -1px;
   bottom: -1px;
   border: 1px solid #fff;
   background: #f8f8f8;
   opacity: 1;
   border-radius: 12px;
   box-shadow: 0px 0px 4px #000;
}

/*
Theme authors:
Here are the basic themeable display options (colors, fonts, global widths).
See http://bgrins.github.io/spectrum/themes/ for instructions.
*/

.sp-container {
   border-radius: 3px;
   background-color: #FFFFFF;
   border: solid 1px #B4B4B4;
   width: 235px;
   padding: 0;
   box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
   font: normal 12px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
   button, input {
      font: normal 12px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
   }
}

.sp-color, .sp-hue, .sp-clear {
   font: normal 12px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
}

.sp-top {

}

/* Input */

.sp-input-container {
   padding: 15px 25px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
}

.sp-initial-disabled .sp-input-container {
   width: 100%;
}

.sp-input {
   font-size: 11px !important;
   border: 1px solid #ccc;
   padding: 5px;
   margin: 0;
   width: 100%;
   background: transparent;
   border-radius: 3px;
   text-align: center;
   color: #333;
   font-family: monospace !important;
   outline: none !important;
   border: 1px solid $ui-border-hover-color !important;
   &:focus {
      border: 1px solid $ui-border-hover-color;
   }
   &.sp-validation-error {
      border: 1px solid red;
      background: #fdd;
   }
}

.sp-picker-container, .sp-palette-container {
   float: none;
   position: relative;
   padding: 0px;
   margin: 0px;
   border: none;
}

.sp-picker-container {
   width: 235px;
}

/* Palettes */

.sp-palette-container {
   border-top: solid 1px #dadada;
   padding: 5px 0px;
}

.sp-palette-only .sp-palette-container {
   border: 0;
}

.sp-palette .sp-thumb-el {
   display: block;
   position: relative;
   float: left;
   width: 24px;
   height: 15px;
   margin: 3px;
   cursor: pointer;
   border: solid 2px transparent;
   &:hover, &.sp-thumb-active {

   }
}

.sp-thumb-el {
   position: relative;
}

/* Initial */

.sp-initial {

   span {
      width: 30px;
      height: 25px;
      border: none;
      display: block;
      float: left;
      margin: 0;
   }
   .sp-clear-display {
      background-position: center;
   }
}

/* Buttons */

.sp-palette-button-container, .sp-button-container {

}

/* Replacer (the little preview div that shows up instead of the <input>) */

.sp-replacer {
   margin: 0;
   overflow: hidden;
   cursor: pointer;
   padding: 0px;
   display: inline-block;
   *zoom: 1;
   *display: inline;
   border: solid 1px #91765d;
   width: $preview-width;
   height: $preview-width;
   &.color-picker-lg{
      width: $preview-width-lg;
      height: $preview-width-lg;
      .sp-preview {
         width: $preview-width-lg !important;
         height: $preview-width-lg !important;
      }
   }
   border-radius: 4px;
   background: #eee;
   color: #333;
   vertical-align: middle;
   border-color: $ui-border-color;
   &:hover, &.sp-active {
      border-color: $ui-border-hover-color;
   }
   &.sp-disabled {
      cursor: default;
      border-color: silver;
      color: silver;
   }
}

.sp-dd {
   padding: 2px 0;
   height: 16px;
   line-height: 16px;
   float: left;
   font-size: 10px;
}

.sp-preview {
   position: relative;
   width: $preview-width;
   height: $preview-width;
   border: none;
   margin-right: 0px;
   float: left;
   z-index: 0;
}

.sp-palette {
   *width: 220px;
   max-width: 220px;
   .sp-thumb-el {
      width: 12px;
      height: 12px;
      margin: 7px;
      border: none;
      border-radius: 2px;
   }
}

.sp-container {
   padding-bottom: 0;
   button {
      background-color: #eeeeee;
      background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
      background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
      background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
      background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
      background-image: linear-gradient(to bottom, #eeeeee, #cccccc);
      border: 1px solid #ccc;
      border-bottom: 1px solid #bbb;
      border-radius: 3px;
      color: #333;
      font-size: 14px;
      line-height: 1;
      padding: 5px 4px;
      text-align: center;
      text-shadow: 0 1px 0 #eee;
      vertical-align: middle;
      &:hover {
         background-color: #dddddd;
         background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
         background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
         background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
         background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
         background-image: linear-gradient(to bottom, #dddddd, #bbbbbb);
         border: 1px solid #bbb;
         border-bottom: 1px solid #999;
         cursor: pointer;
         text-shadow: 0 1px 0 #ddd;
      }
      &:active {
         border: 1px solid #aaa;
         border-bottom: 1px solid #888;
         -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
         -moz-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
         -ms-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
         -o-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
         box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
      }
   }
}

/* Buttons: http://hellohappy.org/css3-buttons/ */

.sp-cancel {
   font-size: 11px;
   color: #d93f3f !important;
   margin: 0;
   padding: 2px;
   margin-right: 5px;
   vertical-align: middle;
   text-decoration: none;
   &:hover {
      color: #d93f3f !important;
      text-decoration: underline;
   }
}

.sp-palette span {
   &:hover, &.sp-thumb-active {
      border-color: #000;
   }
}

.sp-preview, .sp-alpha, .sp-thumb-el {
   position: relative;
   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==);
}

.sp-preview-inner, .sp-alpha-inner, .sp-thumb-inner {
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
}

.sp-palette {
   .sp-thumb-inner {
      background-position: 50% 50%;
      background-repeat: no-repeat;
      width: 12px;
      height: 12px;
      border: none;
      border-radius: 2px;
      box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.45);
   }
   .sp-thumb-light.sp-thumb-active .sp-thumb-inner {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIVJREFUeNpiYBhsgJFMffxAXABlN5JruT4Q3wfi/0DsT64h8UD8HmpIPCWG/KemIfOJCUB+Aoacx6EGBZyHBqI+WsDCwuQ9mhxeg2A210Ntfo8klk9sOMijaURm7yc1UP2RNCMbKE9ODK1HM6iegYLkfx8pligC9lCD7KmRof0ZhjQACDAAceovrtpVBRkAAAAASUVORK5CYII=);
      background-size: 9px;
   }
   .sp-thumb-dark.sp-thumb-active .sp-thumb-inner {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAMdJREFUOE+tkgsNwzAMRMugEAahEAahEAZhEAqlEAZhEAohEAYh81X2dIm8fKpEspLGvudPOsUYpxE2BIJCroJmEW9qJ+MKaBFhEMNabSy9oIcIPwrB+afvAUFoK4H0tMaQ3XtlrggDhOVVMuT4E5MMG0FBbCEYzjYT7OxLEvIHQLY2zWwQ3D+9luyOQTfKDiFD3iUIfPk8VqrKjgAiSfGFPecrg6HN6m/iBcwiDAo7WiBeawa+Kwh7tZoSCGLMqwlSAzVDhoK+6vH4G0P5wdkAAAAASUVORK5CYII=);
      background-size: 9px;
   }
}

.sp-clear-display {
   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==);
}