#adminForm {

	[class^="icon-"],
	[class*=" icon-"] {
		height: auto;
		width: auto;
		line-height: 1;
	}

	.controls {

		>textarea,
		>select,
		>input[type="text"],
		>input[type="password"],
		>input[type="datetime"],
		>input[type="datetime-local"],
		>input[type="date"],
		>input[type="month"],
		>input[type="time"],
		>input[type="week"],
		>input[type="number"],
		>input[type="email"],
		>input[type="url"],
		>input[type="search"],
		>input[type="tel"],
		>input[type="color"],
		>.uneditable-input {
			@extend .form-control;
		}

		.field-calendar {
			input[type="text"] {
				@extend .form-control;
			}
		}

		.field-media-input {
			@extend .form-control;
		}
	}

	input[type="checkbox"],
	input[type="radio"] {
		@extend .form-check;
		margin-right: 5px;
		display: inline-block;

		+label {
			@extend .form-check-label;
			margin-right: 10px;
		}
	}

	input[type="date"],
	input[type="time"],
	input[type="datetime-local"],
	input[type="month"] {
		appearance: none;
	}

	.controls {
		@extend .form-group
	}

	.btn {

		[class^="icon-"],
		[class*=" icon-"] {
			margin-right: 10px;
		}
	}

	.btn:not(.btn-primary):not(.btn-secondary):not(.btn-success):not(.btn-danger) {
		@extend .btn-outline-secondary;
	}

	.btn-toolbar {
		.btn-group:not(:last-child) {
			margin-right: 10px;
		}
	}
}

.layout-edit {
	.tip-wrap {
		box-shadow: 2px 2px 9px rgb(0 0 0 / 6%);
		border: 1px solid #fdfdfd;
		padding: 10px;
		background-color: #fff;
	}

	.input-prepend.input-append {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;

		.btn {
			width: auto;
		}
	}
}