/* Override Bootstrap and Astroid Variables Here */
$primary:				#2c2e36 !default;
$secondary:				#ff3366 !default;

// Custom Button 
$btn-border-radius-lg:	0.2rem !default;
$btn-padding-y-lg:		0.6rem !default;
$btn-padding-x-lg:		2.5rem !default;