div .jd-simple-contact-form .btn-primary {
   background-color: $primary;
   border-color: $primary;
   &:hover, &:focus {
      background: darken($primary);
      border-color: darken($primary);
   }
}