.jd-profiler-wrapper .jd-team-columns .card-team {
	border: none;
	border-radius: 0;
	text-align: center;
	.card-img-top {
		border-radius: 0;
	}
}

.card-img-overlayteam-member-name {
	margin: 0;
}

.team-member-designation {
	margin: 0;
}