div .jd-simple-contact-form .btn-primary {
	background-color: $primary;
	border-color: $primary;

	&:hover,
	&:focus {
		background-image: lighten($primary, 10%);
		border-color: lighten($primary, 10%);
	}
}