.latestnews {
   &.view-media {
      li {
         &:not(:last-child) {
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid rgba($black, .125);
         }
      }
   }
}