[id*="jd_skillset"] {
   .counter-number {
      color: rgba($primary, 0.5);
      font-weight: bold;
      font-size: 70px;
   }
   .counter-title {
      color: $text-muted;
      font-weight: 500;
   }
}