/*
* Body Wrapper
*/

html,
body,
.astroid-container,
.astroid-content,
.astroid-layout,
.astroid-wrapper {
	min-height: 100vh;
}

a:hover {
	text-decoration: none;
}

img {
	width: auto\9;
	height: auto;
	max-width: 100%;
	display: inline-block;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

.hero-section {
	padding: 50px 0;
}

.navVerticalView {
	li {
		margin: 0 5px;

		&:last-child {
			margin-right: 0;
		}
	}
}

::selection {
	background: $selection-bg;
	color: $selection-text-color;
}

.moduletable {
	margin: $module-margin-y $module-margin-x;
	padding: $module-padding-y $module-padding-x;

	&:first-child {
		margin-top: 0;
		padding-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

.astroid-container {
	position: relative;
}

.astroid-component-section {
	padding: 50px 0;
}

.com-jdbuilder .astroid-component-section {
	padding: 0;
}

.astroid-layout {
	position: relative;

	.astroid-wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
	}

	&.astroid-layout-boxed {
		.astroid-wrapper {
			max-width: 1140px;
			margin: 0 auto;
			box-shadow: 0 0 5px rgba(0, 0, 0, .2);
			background-color: $white;
		}
	}
}

.sticky-footer {
	margin-top: auto !important;
}

.astroid-content {
	left: 0;
	z-index: $zindex-modal-backdrop;
	-webkit-transition: -webkit-transform .5s;
	transition: transform .5s;

	&:after {
		position: absolute;
		top: 0;
		right: 0;
		width: 0;
		height: 0;
		background: rgba(0, 0, 0, .8);
		content: '';
		opacity: 0;
		-webkit-transition: opacity .5s, width .1s .5s, height .1s .5s;
		transition: opacity .5s, width .1s .5s, height .1s .5s;
		z-index: $zindex-modal-backdrop;
	}

	&.has-sidebar {
		height: 100vh;
		overflow-y: auto;

		&.sidebar-dir-left {
			padding-left: $header-sidebar-width;

			@media(max-width: 1600px) {
				padding-left: $header-sidebar-mini-width;
			}

			@media(max-width: 1599px) {
				padding-left: 0;
			}
		}

		&.sidebar-dir-right {
			padding-right: $header-sidebar-width;

			@media(max-width: 1600px) {
				padding-right: $header-sidebar-mini-width;
			}

			@media(max-width: 1599px) {
				padding-right: 0;
			}
		}

		@include media-breakpoint-down(xl) {
			height: auto;
		}
	}
}

blockquote {
	border-left: 5px solid #ddd;
	padding-left: 20px;
	font-style: italic;
	font-weight: 600;
}

.no-container {
	>.container {
		width: 100%;
		max-width: 100%;
		padding: 0;
	}
}

.module-title {
	margin-bottom: 15px;
}

.split-title-module {
	.split-title {
		[class*="split-"] {
			display: block;
			font-size: 18px;
			font-weight: normal;
		}

		[class*="split-1"] {
			font-size: inherit;
			font-weight: inherit
		}
	}
}

div.search{
	input {
		border-radius: 0;
	}
	input.button{
		object-fit: none;
	}
	.radio {
		margin-right: 8px;
		input {
			margin-right: 3px;
		}
	}
	.checkbox {
		margin-right: 8px;
	}
}

ul.fa-ul {
	margin-left: 25px;
}