$burger-layer-width: 30px !default;

.astroid-mobilemenu{
   position: fixed;
   top: 0;
   left: 0;
   z-index: $zindex-popover;
   visibility: hidden;
   height: 100%;
   width: 250px;
   background: $white;
   -webkit-transition: all 0.5s;
   transition: all 0.5s;
   max-width: 100vw !important;
   a {
      small {
         display: block !important;
      }
   }
}

.astroid-mobilemenu-container{
   .astroid-mobilemenu-inner {
      ul{
         padding: 0;
         overflow: auto;
         height: 100%;
         display: block;
         position: relative;
         width: 100%;
      }
      .menu-item {
         border-bottom: 1px solid #ddd;
         display: table;
         width: 100%;
      }
      .menu-item a {
         outline: 0;
         width: 80%;
         text-decoration: none;
         vertical-align: middle;
         display: table-cell;
         color: $black;
         padding: 15px 15px;
      }
      .menu-item span.separator,.menu-item span.nav-header {
         cursor: pointer;
         outline: 0;
         width: 80%;
         text-decoration: none;
         vertical-align: middle;
         display: table-cell;
         color: $black;
         padding: 15px 15px;
      }
      .menu-item .menu-indicator {
         width: 20%;
         text-align: center;
         display: table-cell;
         vertical-align: middle;
         border-left: 1px solid #ddd;
         cursor: pointer;
      }
      .dropdown-menus {
         position: fixed;
         left: -100%;
         top: 30px;
         width: 100%;
         height: 100vh;
         transition: all 0.5s;
         background: $white;
         .menu-indicator-back {
            text-align: left;
            width: 100%;
            cursor: pointer;
            display: block;
            padding: 15px;
            box-sizing: border-box;
         }
         .menu-indicator-back i {
            margin-right: 10px;
         }
         .dropdown-menus-item {
            width: 100%;
         }
         &.menu_open {
            left: 0;
            z-index: 1;
         }
      }
   }
}

.burger-menu-button {
   text-align: right;
   line-height: 0;
   margin: 0 15px;
}

.astroid-mobilemenu-open{
   .close-offcanvas,
   .close-offcanvas:hover {
      color: $black;
      display: inline-block;
      margin: 0;
      position: relative;
      right: 5px;
      box-sizing: content-box;
      z-index: 999999;
   }
   .burger-menu-button .inner,
   .burger-menu-button .inner::before,
   .burger-menu-button .inner::after {
      background-color: $black;
      opacity: 1;
   }
}

body.astroid-mobilemenu-opened{
   background: rgb(173, 181, 189);
   max-height: 100vh;
   overflow: hidden;
   .astroid-mobilemenu-open{
      overflow-x: hidden;
   }
   .astroid-content{
      &:after{
         width: 100%;
         height: 100%;
         opacity: 1;
         -webkit-transition: opacity 0.5s;
         transition: opacity 0.5s;
      }
   }
   .astroid-mobilemenu{
      &:after{
         width: 0;
         height: 0;
         opacity: 0;
         -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
         transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
      }
   }
}