$burger-layer-width: 30px !default;
$burger-layer-height: 3px !default;
$burger-layer-spacing: 7px !default;

.header-offcanvas-trigger {
	background: none;
	border: none;
	outline: none;
	box-shadow: none;
	cursor: pointer;
	padding: 0;
	width: 34px;
	height: 34px;
	padding: 2px;
}

.burger-menu-button {
	.button {
		padding: 5px 0;
		cursor: pointer;
		transition-property: opacity, filter;
		transition-duration: 0.15s;
		transition-timing-function: linear; // Normalize (<button>)
		font: inherit;
		color: inherit;
		text-transform: none;
		background-color: transparent;
		border: 0;
		margin: 0;
		overflow: visible;

		&:hover {
			opacity: 0.7;
		}

		width: $burger-layer-width;
		height: $burger-layer-width;

		&:focus {
			outline: 0;
		}
	}

	.box {
		width: $burger-layer-width;
		height: $burger-layer-width;
		display: inline-block;
		position: relative;
	}

	.inner {
		display: block;
		top: 50%;
		margin-top: $burger-layer-height / -2;

		&,
		&::before,
		&::after {
			width: $burger-layer-width;
			height: $burger-layer-height;
			background-color: $body-color;
			position: absolute;
			transition-property: transform;
			transition-duration: 0.15s;
			transition-timing-function: ease;
		}

		&::before,
		&::after {
			content: "";
			display: block;
		}

		&::before {
			top: ($burger-layer-spacing + $burger-layer-height) * -1;
		}

		&::after {
			bottom: ($burger-layer-spacing + $burger-layer-height) * -1;
		}
	}

	.inner {
		transition-duration: 0.22s;
		transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

		&::before {
			transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
		}

		&::after {
			transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}
	}

	&.active {
		.inner {
			transform: rotate(225deg);
			transition-delay: 0.12s;
			transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

			&::before {
				top: 0;
				opacity: 0;
				transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
			}

			&::after {
				bottom: 0;
				transform: rotate(-90deg);
				transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
			}
		}
	}

	&.header-offcanvas-trigger {
		.inner {
			&::before {
				width: $burger-layer-width - 10px;
				margin-left: 10px;
			}

			&::after {
				width: $burger-layer-width - 5px;
				margin-left: 5px;
			}
		}

		&.active {
			.inner {

				&::before,
				&::after {
					width: $burger-layer-width;
					margin-left: 0;
				}
			}
		}
	}
}

.off-page-content {
	position: fixed;
	top: 0;
	height: 100%;
	z-index: 10001;

	.off-page-inner {
		position: relative;
		z-index: 2;
		background: $white;
		height: 100%;
		overflow-y: auto;
	}

	.off-page-close {
		width: 40px;
		height: 40px;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 3;
		text-align: center;
		line-height: 40px;
		background: $white;
		color: $black;
		font-size: 16px;
		cursor: pointer;
		border-bottom: 1px solid #eee;
		border-left: 1px solid #eee;

		&:after {
			content: "\2715";
		}
	}

	.off-page-overlay {
		position: fixed;
		display: none;
		z-index: 1;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: rgba(0, 0, 0, 0.6);
	}
}

.astroid-offcanvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: $zindex-popover;
	visibility: hidden;
	height: 100%;
	background: $white;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	max-width: 100vw !important;

	.astroid-offcanvas-inner {
		overflow: auto;
		position: relative;
		display: block;
		height: 100%;
		padding: 0 15px;
		.moduletable {
			margin: 0 -15px;
		}
		.moduletable .module-title {
			padding: 0 15px;
		}
	}

	.close-offcanvas,
	.close-offcanvas:hover {
		display: inline-block;
		margin-top: 0;
		position: relative;
		right: 0;
		z-index: 999999;
	}

	.burger-menu-button .inner,
	.burger-menu-button .inner::before,
	.burger-menu-button .inner::after {
		background-color: $black;
		opacity: 1;
	}
}

body {
	&.astroid-offcanvas-opened {
		.astroid-content {
			&:after {
				width: 100%;
				height: 100%;
				opacity: 1;
				-webkit-transition: opacity 0.5s;
				transition: opacity 0.5s;
			}
		}

		.astroid-offcanvas {
			&:after {
				width: 0;
				height: 0;
				opacity: 0;
				-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
				transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
			}
		}

		.astroid-offcanvas-open {
			overflow-x: hidden;
		}
	}
}