$input-placeholder-color: rgb(142, 142, 142) !default;
$input-padding-y: 10px !default;
$form-group-margin-bottom: 20px !default;

// Button
$btn-font-weight: 600 !default;
$btn-border-radius-lg: .2rem !default;
$btn-padding-y: .5rem !default;
$btn-padding-x: 2rem !default;
$btn-padding-y-sm: .25rem !default;
$btn-padding-x-sm: 1rem !default;
$btn-padding-y-lg: .7rem !default;
$btn-padding-x-lg: 3rem !default;