// Astroid Variables

// Header
$header-bg:    						#333 !default;
$header-text-color:    				#fff !default;

// Logo
$logo-color:    					#007bff !default;
$logo-tagline-color:    			#007bff !default;

// Menu Colors
$menu-link-color:    				#333 !default;
$menu-link-hover-color:    			#007bff !default;
$menu-link-active-color:    		#007bff !default;

// Dropdown Menu
$dropdown-bg-color:    				#fff !default;
$dropdown-link-color:    			#333 !default;
$dropdown-link-hover-color:    		#007bff !default;
$dropdown-hover-bg-color:    		#007bff !default;
$dropdown-active-link-color:    	#fff !default;
$dropdown-active-bg-color:    		#007bff !default;

// Off-Canvas
$off-canvas-menu-text-color:    	#fff !default;
$off-canvas-menu-bg-color:    		#007bff !default;
$off-canvas-menu-link-color:    	#333 !default;
$off-canvas-menu-active-link-color: #fff !default;
$off-canvas-menu-active-bg-color:   #007bff !default;

// Footer
$footer-bg-color:    				#333 !default;
$footer-text-color:    				#fff !default;
$footer-link-color:    				#007bff !default;
$footer-link-hover-color:			#007bff !default;

// Preloader
$preloader-background: 				#ffffff !default;